.container{
    margin: 20px;
    background-color:violet;
}


.title{
    font-weight: bold;
    margin: 25px;
    padding: 20px;
    color: black;

}
.desc{
    word-wrap: break-word;
    margin: 10px;
    padding: 5px;
}

.btn{
    margin: 10px;
    padding: 5px;
    color: black;
    background-color: chartreuse;
}

